*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: #333;
  text-rendering: optimizeLegibility;
}

:root {
  --color-grey-1: #f7f7f7;
  --color-grey-2: #fff;

  --color-grey-light: #ddd;
  --color-grey-dark: #bbb;
  --color-grey-dark-2: #1a1a1a;
  --color-grey-dark-3: #444;

  --color-primary-light: #090909;
  --color-primary-dark: #000;
}

/*Utilities*/
.margin-bottom-small {
  margin-bottom: 4rem;
}
.margin-bottom-medium {
  margin-bottom: 5rem;
}
.margin-bottom-large {
  margin-bottom: 8rem;
}

.margin-top-small {
  margin-top: 3rem;
}
.margin-top-medium {
  margin-top: 5rem;
}
.margin-top-large {
  margin-top: 8rem;
}
h1 {
  font-size: 8rem;
  font-weight: 200;
  color: var(--color-grey-light);
}
h2 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
h3 {
  font-size: 2.3rem;
  font-weight: 200;
  text-align: center;
}
h4 {
  font-size: 3rem;
  font-weight: 300;
}
h5 {
  font-size: 1.5rem;
}
.section {
  transition: all 0.5s ease-in;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
/*-------------------------------------------------*/
/*-----STYLING THE HEADER SECTION------------------*/
/*-------------------------------------------------*/
.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url(../img/mac.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

/* The navigation section */
.navigation {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0.5rem 0.5rem -0.5rem #000;
}
.sticky {
  position: fixed;
  background-color: orangered;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 0.5rem 0.5rem -0.5rem #000;
}
.navigation__logo {
  padding: 2rem;
  font-size: 2rem;
  text-decoration: none;
  color: #000;
  display: block;
}
.navigation__list {
}
.navigation__link {
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #000;
  padding: 2rem;
  display: inline-block;
  transition: all 0.3s;
}
.navigation__link:hover {
  background-color: var(--color-grey-dark);
  border-radius: 100rem;
  color: #000;
}
.is--active {
  background-color: var(--color-grey-dark);
  color: #000;
  border-radius: 100rem;
}

.hero {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__text {
  font-size: 2rem;
  color: var(--color-grey-light);
}
.btn {
  display: inline-block;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: var(--color-grey-light);
  color: var(--color-primary-dark);
  padding: 1.5rem 2rem;
  font-size: 1.8rem;
  border-radius: 100rem;
  cursor: pointer;
  transform: translateY(-5px);
  transition: all 0.2s;
}
.btn:hover {
  background-color: var(--color-grey-dark);
}
.btn:active {
  transform: translate(-1px);
}
.hero__social {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.social__link {
  text-decoration: none;
  color: var(--color-grey-light);
  padding: 0.7rem;
  font-size: 1.5rem;
}
.social__link:hover {
  color: var(--color-grey-dark);
}

/*-------------------------------------------------*/
/*-----STYLING THE ABOUT SECTION------------------*/
/*-------------------------------------------------*/
.section__about {
  padding: 10rem 0;
  /* height: 100rem; */
  background-color: var(--color-grey-2);
}
.about__features {
  max-width: 114rem;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-column-gap: 3rem;
}
.features {
  display: grid;
  justify-items: center;
  padding: 0.5rem;
  align-items: center;
  grid-template-rows: 1fr repeat(2, min-content);
  grid-row-gap: 4rem;
  /* background-color: orangered; */
}
.features i {
  font-size: 8rem;
}
.features__text {
  font-size: 1.8rem;
  text-align: center;
}

/*-------------------------------------------------*/
/*-----STYLING THE MORE SECTION------------------*/
/*-------------------------------------------------*/
.section__more {
  padding: 10rem 0;
  background-color: var(--color-grey-1);
}
.more {
  display: grid;
  max-width: 114rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
}
.more--text {
  display: block;
  width: 50%;
  font-size: 1.6rem;
}
.image img {
  object-fit: cover;
  width: 90%;
}
.btn-more {
  text-decoration: none;
  background-color: var(--color-primary-light);
  color: var(--color-grey-1);
  transition: all 0.3s;
}
.btn-more:hover {
  background-color: var(--color-grey-dark);
  color: var(--color-primary-dark);
}

/*-------------------------------------------------*/
/*-----STYLING THE TEAM SECTION------------------*/
/*-------------------------------------------------*/
.section__team {
  padding: 13rem 0;
  background-color: var(--color-grey-2);
}
.team-cont {
  max-width: 114rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1.5rem;
}

.team {
  background-color: var(--color-grey-1);
  border-radius: 3px;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}
.team img {
  object-fit: cover;
  width: 100%;
  display: block;
}
.team__details {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 1.5rem;
  padding: 1rem;
  align-items: center;
  justify-items: start;
}
.team--text {
  font-size: 1.5rem;
}
.btn-team {
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 100rem;
  font-size: 1.6rem;
  background-color: var(--color-primary-light);
  color: var(--color-grey-1);
  transition: all 0.2s;
}
.btn-team:hover {
  background-color: var(--color-grey-dark);
  color: var(--color-primary-dark);
}

/*-------------------------------------------------*/
/*-----STYLING THE COUNTER SECTION------------------*/
/*-------------------------------------------------*/
.section__counter {
  padding: 3rem 0;
  background-color: #444;
}
.counter {
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-column-gap: 1.5rem;
  justify-items: center;
  align-items: center;
}
.counter-item {
  padding: 1rem;
  color: var(--color-grey-1);
  font-size: 1.8rem;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 2rem;
}
.counter-item span {
  font-size: 3rem;
}

/*-------------------------------------------------*/
/*-----STYLING THE WORK SECTION------------------*/
/*-------------------------------------------------*/
.section__work {
  padding: 10rem 0;
  /* height: 30rem; */
}
.work {
  max-width: 114rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2rem;
}
.work--item img {
  width: 100%;
}
.work--item img:hover {
  opacity: 0.7;
}
.item-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.item-2 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}
.item-3 {
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
}
.item-4 {
  grid-column: 7 / span 2;
  grid-row: 1 / span 2;
}
.item-5 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}
.item-6 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}
.item-7 {
  grid-column: 5 / span 2;
  grid-row: 3 / span 2;
}
.item-8 {
  grid-column: 7 / span 2;
  grid-row: 3 / span 2;
}

/*-------------------------------------------------*/
/*-----STYLING THE SKILLS SECTION------------------*/
/*-------------------------------------------------*/
.section__skills {
  padding: 10rem 0;
  background-color: var(--color-grey-light);
}
.skills {
  max-width: 114rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10rem;
}
.skills-item--1 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 5rem;
  justify-content: left;
}
.skills-item--2 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  grid-row-gap: 5rem;
  justify-content: left;
}
.skills-heading {
  text-align: left;
  font-size: 3.2rem;
  font-weight: 400;
}
.skills-text {
  font-size: 1.8rem;
}
.photography p,
.webdesign p,
.photoshop p {
  display: inline-block;
  font-size: 2rem;
}
.photography i,
.webdesign i,
.photoshop i {
  font-size: 2rem;
  margin-right: 1rem;
}
.photo-skill,
.web-skill,
.photoshop-skill {
  width: 100%;
  border: 1px solid var(--color-primary-dark);
  padding: 1.7rem;
  border-radius: 10rem;
  position: relative;
  background-color: var(--color-grey-dark);
  overflow: hidden;
  text-align: center;
}
.progress-1 {
  position: absolute;
  border-radius: 10rem;
  top: 0;
  left: 0;
  background-color: var(--color-grey-dark-2);
  width: 80%;
  padding: 1rem;
  text-align: right;
  color: var(--color-grey-1);
  font-size: 1.4rem;
}
.progress-2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-grey-dark-2);
  width: 75%;
  border-radius: 10rem;
  padding: 1rem;
  text-align: right;
  font-size: 1.4rem;
  color: var(--color-grey-1);
}
.progress-3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-grey-dark-2);
  width: 60%;
  border-radius: 10rem;
  padding: 1rem;
  text-align: right;
  font-size: 1.4rem;
  color: var(--color-grey-1);
}

/*-------------------------------------------------*/
/*-----STYLING THE PRICING SECTION------------------*/
/*-------------------------------------------------*/
.section__pricing {
  padding: 10rem 0;
  background-color: var(--color-grey-dark-3);
}
.pricing-heading {
  color: var(--color-grey-1);
}
.pricing__cards {
  max-width: 114rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}
.pricing__card {
  border-radius: 3px;
  background-color: var(--color-grey-light);
  color: var(--color-primary-dark);
  transition: all 0.3s;
}
.pricing__card:hover {
  box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}
.pricing__card--1,
.pricing__card--2,
.pricing__card--3 {
  display: grid;
  height: 45rem;
  text-align: center;
  align-items: start;
  grid-template-rows: repeat(7, 1fr);
  grid-row-gap: 1.5rem;
}
.pricing__card--2 {
  height: 52rem;
  transform: translateY(-25px);
}
.pricing__card,
.pricing__card,
.pricing__card > *:not(:last-child) {
  border-bottom: 1px solid black;
}
.pricing__card--1,
.pricing__card--2,
.pricing__card--3 p {
  font-size: 2rem;
}
.item1-heading,
.item3-heading {
  font-size: 5rem;
  font-weight: 200;
  padding: 1rem;
}
.item2-heading {
  font-size: 5rem;
  font-weight: 200;
  background-color: orangered;
  padding: 1rem;
}
.btn-card {
  justify-self: center;
  text-decoration: none;
  display: inline-block;
  width: 50%;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  border-radius: 100rem;
  background-color: var(--color-primary-light);
  color: var(--color-grey-1);
  transition: all 0.3s;
}
.btn-card:hover {
  background-color: var(--color-grey-dark);
  color: var(--color-primary-dark);
}

/*-------------------------------------------------*/
/*-----STYLING THE CONTACT SECTION------------------*/
/*-------------------------------------------------*/
.section__contact {
  padding: 10rem 0;
  background-color: var(--color-grey-2);
}
.contact-1 {
  max-width: 114rem;
  margin: 0 auto;
}
.contact-1__item:not(:last-child) {
  margin-bottom: 3rem;
}
.contact-1__item i {
  display: inline-block;
  font-size: 3rem;
  margin-right: 2rem;
}
.contact-1__item span {
  display: inline-block;
  font-size: 2.2rem;
}
.form {
  max-width: 114rem;
  margin: 3rem auto;
}
.form__input {
  display: block;
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 3rem;
}
.btn-form {
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  border-radius: 100rem;
  background-color: var(--color-grey-dark-3);
  color: var(--color-grey-light);
  font-size: 1.5rem;
}
.hero-2 {
  max-width: 114rem;
  margin: 3rem auto;
  height: 45vw;
  background-image: url(/img/map.jpg);
}

/*-------------------------------------------------*/
/*-----STYLING THE FOOTER SECTION------------------*/
/*-------------------------------------------------*/
.footer {
  padding: 6rem 0;
  /* height: 90rem; */
  position: relative;
  background-color: var(--color-primary-dark);
}
.footer-c {
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.copyright {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: var(--color-grey-1);
}
.scroll-up {
  position: absolute;
  right: 10rem;
  top: 5rem;
}
.btn-scroll {
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 100rem;
  padding: 2rem;
  background-color: var(--color-grey-1);
  color: var(--color-primary-dark);
  font-size: 1.5rem;
  transition: all 0.2s;
}
.btn-scroll:hover {
  background-color: var(--color-grey-light);
}

@media only screen and (max-width: 1200px) {
  .section__about {
    padding: 7rem 5rem;
  }
  .section__more {
    padding: 10rem 5rem;
  }
  .section__counter {
    padding: 3rem 5rem;
  }
  .section__skills {
    padding: 7rem 5rem;
  }
  .section__pricing {
    padding: 10rem 5rem;
  }
  .section__contact {
    padding: 10rem 5rem;
  }
  .section__work {
    padding: 7rem 4rem;
  }
  .section__team {
    padding: 7rem 5rem;
  }
}

@media only screen and (max-width: 900px) {
  .more {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-row-gap: 4rem;
  }
  .more--text {
    width: 80%;
  }
  .image img {
    width: 100%;
  }
  .skills {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-row-gap: 4rem;
  }
  html {
    font-size: 60.5%;
  }
}
